/* In your App.css file */
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white; /* Set your desired background color */
}

/* Add the following to ensure smooth scrolling */
html {
  scroll-behavior: smooth;
}

.navbar {
  right: 0;
}
